<div class="row">
  <div class="col-sm-8 offset-2 p-4">
    <mat-card>
      <mat-card-title>
        <div class="text-center">
          My wallet
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-lg-6">
            <cr-buy-currency></cr-buy-currency>
          </div>
          <div class="col-lg-6">
            <cr-sell-currency></cr-sell-currency>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
